# Problem 2
Here is the link to the latest code on GitHub: [Lab 5](https://github.com/stop1204/EEE4463/tree/main/Labs/Lab5) üòé

The coefficients of several quadratic equations `(ùëéùë• + ùëèùë• + ùëê = 0)` are given in the CSV file ‚Äòabc_lab5_p2_input.csv‚Äô

if a = 0 , the equation `(-b ¬± ‚àö(b¬≤ - 4ac)) / (2a)`, will cause a division by zero error

if b = 0, the equation `x = ¬±‚àö(-c/a)` will be used to solve the equation

I added 7 rows data to the file `abc_lab5_p2_input.csv` to test the code to handle any invalid input and unknown error
|a|b|c|
|-|-|-|
|0|5|3|
|1|0|3|
|1|5|0|
|""|5|3|
|1|""|3|
|1|5|""|
|na|5|3|

## Initial code

In [110]:
import numpy as np
import pandas as pd

# file path
file_path = "abc_lab5_p2_input.csv"
# align the column header to left
pd.set_option('display.colheader_justify', 'left')
# set the precision to 3
pd.set_option('display.precision', 3)

## Test the functions

### Read the csv file and separate the content by comma

In [111]:
# read the csv file and separate the content by comma
df = pd.read_csv(file_path,sep=",")
print(df.to_string(index=False))
# """
#  a  b  c
#  1  5  3
#  2 -4  2
#  3  2 -1
#  3  2  1
#  """

# convert the data to numeric
df = df.apply(pd.to_numeric, errors='coerce')
# filter the rows with empty values and na
df = df.dropna()
# this will remove the rows with strings
(df.map(lambda x: pd.api.types.is_number(x) ))
# remove the a = 0, because the equation will cause a division by zero error
df = df[df['a'] != 0]
df

a   b    c
  1   5  3.0
  2  -4  2.0
  3   2 -1.0
  3   2  1.0
  0   5  3.0
  1   0  3.0
  1   5  0.0
NaN   5  3.0
  1 NaN  3.0
  1   5  NaN
 na   5  3.0
  1 abc  3.0

   a    b    c
0  1.0  5.0  3.0
1  2.0 -4.0  2.0
2  3.0  2.0 -1.0
3  3.0  2.0  1.0
5  1.0  0.0  3.0
6  1.0  5.0  0.0

### Calculate the roots of the quadratic equations

In [112]:
# the discriminant
df['D'] = df['b'] ** 2 - 4 * df['a'] * df['c']
df['p'] = ((-df['b'] - df['D'].apply(lambda x:  x**0.5)) / (2 * df['a']))
df['q'] = ((-df['b'] + df['D'].apply(lambda x:  x**0.5)) / (2 * df['a']))

# formatting
# catch the complex numbers and round them without the decimal point if they are integers
df['p'] = df['p'].apply(lambda x: x.real)
df['q'] = np.where(df['D'] >= 0,df['q'].apply(lambda x: round(x.real) if x.real.is_integer() else x.real ),
                   df['q'].apply(lambda x: int(x.imag) if x.imag.is_integer() else x.imag))
print(df.to_string(index=False))
# """
# a  b  c  D  p      q
# 1   5  3 13 -4.303 -0.697
# 2  -4  2  0  1.000  1.000
# 3   2 -1 16 -1.000  0.333
# 3   2  1 -8 -0.333  0.471
# """
#
# print(df.map(lambda x: f"{x:.3f}".ljust(10)).to_string(index=False))
# """
# a          b          c          D          p          q
# 1.000      5.000      3.000      13.000     -4.303     -0.697
# 2.000      -4.000     2.000      0.000      1.000      1.000
# 3.000      2.000      -1.000     16.000     -1.000     0.333
# 3.000      2.000      1.000      -8.000     -0.333     0.471
# """

 a   b    c    D     p          q
1.0  5.0  3.0  13.0 -4.303e+00 -0.697
2.0 -4.0  2.0   0.0  1.000e+00  1.000
3.0  2.0 -1.0  16.0 -1.000e+00  0.333
3.0  2.0  1.0  -8.0 -3.333e-01  0.471
1.0  0.0  3.0 -12.0 -1.061e-16  1.732
1.0  5.0  0.0  25.0 -5.000e+00  0.000

### Output the content on the screen

In [113]:
# format the output without the decimal point if the float is actually an integer
df = df.map(lambda x: f"{int(x)}".ljust(10) if x == int(x) else f"{x:.3f}".ljust(10) )
print(df.to_string(index=False))
# a          b          c          D          p          q
# 1          5          3          13         -4.303     -0.697
# 2          -4         2          0          1          1
# 3          2          -1         16         -1         0.333
# 3          2          1          -8         -0.333     0.471

a          b          c          D          p          q
1          5          3          13         -4.303     -0.697
2          -4         2          0          1          1
3          2          -1         16         -1         0.333
3          2          1          -8         -0.333     0.471
1          0          3          -12        -0.000     1.732
1          5          0          25         -5         0

### Output the content to a CSV file with the name ‚Äòabc_lab5_p2_output.csv‚Äô

In [114]:
df.to_csv("abc_lab5_p2_output.csv",index=False)