## my_learning-python3_20200606

[learning-python3.ipynb]: https://gist.githubusercontent.com/kenjyco/69eeb503125035f21a9d/raw/learning-python3.ipynb

Right-click -> "save link as" [https://gist.githubusercontent.com/kenjyco/69eeb503125035f21a9d/raw/learning-python3.ipynb][learning-python3.ipynb] to get most up-to-date version of this notebook file.

## Quick note about Jupyter cells

When you are editing a cell in Jupyter notebook, you need to re-run the cell by pressing **`<Shift> + <Enter>`**. This will allow changes you made to be available to other cells.

Use **`<Enter>`** to make new lines inside a cell you are editing.

#### Code cells

Re-running will execute any statements you have written. To edit an existing code cell, click on it.

#### Markdown cells

Re-running will render the markdown text. To edit an existing markdown cell, double-click on it.

<hr>

## Common Jupyter operations

Near the top of the https://try.jupyter.org page, Jupyter provides a row of menu options (`File`, `Edit`, `View`, `Insert`, ...) and a row of tool bar icons (disk, plus sign, scissors, 2 files, clipboard and file, up arrow, ...).

#### Inserting and removing cells

- Use the "plus sign" icon to insert a cell below the currently selected cell
- Use "Insert" -> "Insert Cell Above" from the menu to insert above

#### Clear the output of all cells

- Use "Kernel" -> "Restart" from the menu to restart the kernel
    - click on "clear all outputs & restart" to have all the output cleared

#### Save your notebook file locally

- Clear the output of all cells
- Use "File" -> "Download as" -> "IPython Notebook (.ipynb)" to download a notebook file representing your https://try.jupyter.org session

#### Load your notebook file in try.jupyter.org

1. Visit https://try.jupyter.org
2. Click the "Upload" button near the upper right corner
3. Navigate your filesystem to find your `*.ipynb` file and click "open"
4. Click the new "upload" button that appears next to your file name
5. Click on your uploaded notebook file

<hr>

## References

- https://try.jupyter.org
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax

<hr>

## Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - **`//`** (floor division)
  - **`%`** (modulus)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
  - **`/=`** (divide and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [1]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [2]:
# Addition
num1 + num2

7

In [3]:
# Subtraction
num2 - num3

-10.41

In [4]:
# Multiplication
num3 * num4

-4.446

In [5]:
# Division
num4 / num5

-0.08571428571428572

In [6]:
# Floor division
num5 // num6

2

In [7]:
num3 / num2

-2.47

In [8]:
num3 // num2

-3.0

In [9]:
# Modulus
num5 % num6

1

In [10]:
# Exponent
num5 ** num6

343

In [11]:
# Increment existing variable
num7 += 4
num7

15.11

In [12]:
# Decrement existing variable
num6 -= 2
num6

1

In [13]:
# Multiply & re-assign
num3 *= 5
num3

37.05

In [14]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [15]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [16]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [17]:
# Is the first expression less than the second expression?
num5 < num6

False

In [18]:
num1

10

In [19]:
num1 /= 2
num1

5.0

In [20]:
# Is this expression True?
5 > 3 > 1

True

In [21]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [22]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [23]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [24]:
# Notice that the string was not modified
simple_string1

'an example'

In [25]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [26]:
# This string wasn't modified either
simple_string2

'oranges '

In [27]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [28]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [29]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [30]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

In [31]:
# Note: Subtraction, division, and decrement operators do not apply to strings.

## Basic containers

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
  - `"Hello World!"`
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [32]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [33]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [34]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [35]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [36]:
# Items in the dict object are not stored in the order they were added
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [37]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [38]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [39]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [40]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Accessing data in containers

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [41]:
# Access the first item in a sequence
list1[0]

3

In [42]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [43]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [44]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [45]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [46]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [47]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

## Python built-in functions and callables

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`len(container)`** to determine how many items are in a container
- **`callable(obj)`** to determine if an object is callable
- **`sorted(container)`** to return a new list from a container, with the items sorted
- **`sum(container)`** to compute the sum of a container of numbers
- **`min(container)`** to determine the smallest item in a container
- **`max(container)`** to determine the largest item in a container
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object
- **`id(obj)`** to return the identity of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

In [48]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [49]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [50]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

24

In [51]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [52]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [53]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [54]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [55]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [56]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [57]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [58]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [59]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

In [60]:
# Use the abs() function to determine the absolute value of a number
abs(10)

10

In [61]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [62]:
# Use the repr() function to return a string representation of an object
repr(set1)

"{False, 3, 5, 6, 'dog', 'cat'}"

In [63]:
a = 'Hello World!'
b = a
id(a)

2513745642032

In [64]:
id(b)

2513745642032

## Python object attributes (methods and properties)

Different types of objects in Python have different **attributes** that can be referred to by name (similar to a variable). To access an attribute of an object, use a dot (`.`) after the object, then specify the attribute (i.e. `obj.attribute`)

When an attribute of an object is a callable, that attribute is called a **method**. It is the same as a function, only this function is bound to a particular object.

When an attribute of an object is not a callable, that attribute is called a **property**. It is just a piece of data about the object, that is itself another object.

The built-in `dir()` function can be used to return a list of an object's attributes.

<hr>

## Some methods on string objects

- **`.capitalize()`** to return a capitalized version of the string (only first char uppercase)
- **`.upper()`** to return an uppercase version of the string (all chars uppercase)
- **`.lower()`** to return an lowercase version of the string (all chars lowercase)
- **`.count(substring)`** to return the number of occurences of the substring in the string
- **`.startswith(substring)`** to determine if the string starts with the substring
- **`.endswith(substring)`** to determine if the string ends with the substring
- **`.replace(old, new)`** to return a copy of the string with occurences of the "old" replaced by "new"

In [65]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [66]:
# Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [67]:
# Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [68]:
# Return a lowercase version of the string
a_string.lower()

'this is a string'

In [69]:
# Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [70]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [71]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

1

In [72]:
# Count number of occurences of a substring in the string
a_string.count('is')

2

In [73]:
# Does the string start with 'this'?
a_string.startswith('this')

False

In [74]:
# Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

True

In [75]:
# Does the string end with 'Ng'?
a_string.endswith('Ng')

True

In [76]:
# Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [77]:
# Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [78]:
# Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

## Some methods on list objects

- **`.append(item)`** to add a single item to the list
- **`.extend([item1, item2, ...])`** to add multiple items to the list
- **`.remove(item)`** to remove a single item from the list
- **`.pop()`** to remove and return the item at the end of the list
- **`.pop(index)`** to remove and return an item at an index
- **`.insert(index, item)`** to insert a single item to the list
- **`enumerate(list)`** to retrieve the index and item from a list at the same time

In [79]:
mylist1 = ['a', 'b', 123, False]
mylist1

['a', 'b', 123, False]

In [80]:
mylist1[2]

123

In [81]:
mylist1.append('efg')
mylist1

['a', 'b', 123, False, 'efg']

In [82]:
mylist1.extend(['a', True, 'g', 3.14])
mylist1

['a', 'b', 123, False, 'efg', 'a', True, 'g', 3.14]

In [83]:
mylist1[2:5]

[123, False, 'efg']

In [84]:
mylist1[-1]

3.14

In [85]:
mylist1.pop(4)

'efg'

In [86]:
mylist1

['a', 'b', 123, False, 'a', True, 'g', 3.14]

In [87]:
mylist1.remove('a')

In [88]:
mylist1

['b', 123, False, 'a', True, 'g', 3.14]

In [89]:
mylist1.insert(2, 'Hello')
mylist1

['b', 123, 'Hello', False, 'a', True, 'g', 3.14]

In [90]:
for i, item in enumerate(mylist1):
    print(i, item)

0 b
1 123
2 Hello
3 False
4 a
5 True
6 g
7 3.14

## Some methods on set objects

- **`.add(item)`** to add a single item to the set
- **`.update([item1, item2, ...])`** to add multiple items to the set
- **`.update(set2, set3, ...)`** to add items from all provided sets to the set
- **`.remove(item)`** to remove a single item from the set
- **`.pop()`** to remove and return a random item from the set
- **`.difference(set2)`** to return items in the set that are not in another set
- **`.intersection(set2)`** to return items in both sets
- **`.union(set2)`** to return items that are in either set
- **`.symmetric_difference(set2)`** to return items that are only in one set (not both)
- **`.issuperset(set2)`** does the set contain everything in the other set?
- **`.issubset(set2)`** is the set contained in the other set?
- **`enumerate(set)`** to retrieve the index and item from a set at the same time

In [91]:
myset1 = {'a', True, 'c', 2.71}
myset1

{2.71, True, 'a', 'c'}

In [92]:
myset1.add('e')
myset1

{2.71, True, 'a', 'c', 'e'}

In [93]:
myset1.update('f', 'g')
myset1

{2.71, True, 'a', 'c', 'e', 'f', 'g'}

In [94]:
myset1.update(['h', -3.45])
myset1

{-3.45, 2.71, True, 'a', 'c', 'e', 'f', 'g', 'h'}

In [95]:
myset1.remove('e')
myset1

{-3.45, 2.71, True, 'a', 'c', 'f', 'g', 'h'}

In [96]:
myset1.pop()

'f'

In [97]:
myset1

{-3.45, 2.71, True, 'a', 'c', 'g', 'h'}

In [98]:
'a' in myset1

True

In [99]:
for i, item in enumerate(myset1):
    print(i, item)

0 True
1 2.71
2 a
3 h
4 g
5 c
6 -3.45

In [100]:
myset2 = {2, 4, 6, 8, 10}
myset3 = {1, 2, 3, 4, 5}
print(myset2)
print(myset3)

{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5}

In [101]:
myset2.intersection(myset3)

{2, 4}

In [102]:
myset2 & myset3

{2, 4}

In [103]:
myset2.union(myset3)

{1, 2, 3, 4, 5, 6, 8, 10}

In [104]:
myset2 | myset3

{1, 2, 3, 4, 5, 6, 8, 10}

In [105]:
myset2.difference(myset3)

{6, 8, 10}

In [106]:
myset2 - myset3

{6, 8, 10}

In [107]:
myset2.symmetric_difference(myset3)

{1, 3, 5, 6, 8, 10}

In [108]:
myset2 ^ myset3

{1, 3, 5, 6, 8, 10}

In [109]:
myset4 = {'a', 'b', 'c'}
myset5 = {'a', 'b', 'c', 'x', 'y', 'z'}

In [110]:
myset4.issubset(myset5)

True

In [111]:
myset5.issubset(myset4)

False

In [112]:
myset5.issuperset(myset4)

True

## Some methods on dict objects

- **`.update([(key1, val1), (key2, val2), ...])`** to add multiple key-value pairs to the dict
- **`.update(dict2)`** to add all keys and values from another dict to the dict
- **`.pop(key)`** to remove key and return its value from the dict (error if key not found)
- **`.pop(key, default_val)`** to remove key and return its value from the dict (or return default_val if key not found)
- **`.get(key)`** to return the value at a specified key in the dict (or None if key not found)
- **`.get(key, default_val)`** to return the value at a specified key in the dict (or default_val if key not found)
- **`.keys()`** to return a list of keys in the dict
- **`.values()`** to return a list of values in the dict
- **`.items()`** to return a list of key-value pairs (tuples) in the dict
- **`enumerate(dict)`** to retrieve the index and item from a dict at the same time

In [113]:
mydict1 = {'01':'apple', '02':'banana', '03':'cherry'}
mydict1

{'01': 'apple', '02': 'banana', '03': 'cherry'}

In [114]:
mydict1['02']

'banana'

In [115]:
'02' in mydict1

True

In [116]:
mydict1['03'] = 'coconut'
mydict1

{'01': 'apple', '02': 'banana', '03': 'coconut'}

In [117]:
mydict1['11'] = 'durian'
mydict1

{'01': 'apple', '02': 'banana', '03': 'coconut', '11': 'durian'}

In [118]:
mydict1.update([('01', 'pineapple'), ('03', 'orange')])
mydict1

{'01': 'pineapple', '02': 'banana', '03': 'orange', '11': 'durian'}

In [119]:
mydict1.pop('03')

'orange'

In [120]:
mydict1

{'01': 'pineapple', '02': 'banana', '11': 'durian'}

In [121]:
mydict1.get('02')

'banana'

In [122]:
mydict1.get('99', 'dinosaur')

'dinosaur'

In [123]:
mydict1.keys()

dict_keys(['01', '02', '11'])

In [124]:
mydict1.values()

dict_values(['pineapple', 'banana', 'durian'])

In [125]:
mydict1.items()

dict_items([('01', 'pineapple'), ('02', 'banana'), ('11', 'durian')])

In [126]:
del mydict1['11']

In [127]:
mydict1

{'01': 'pineapple', '02': 'banana'}

In [128]:
for i in mydict1:
    fruit = mydict1[i]
    print(i, fruit)

01 pineapple
02 banana

In [129]:
for i, fruit in mydict1.items():
    print(i, fruit)

01 pineapple
02 banana

In [130]:
for i, key in enumerate(mydict1):
    print(i, key)

0 01
1 02

## Positional arguments and keyword arguments to callables

You can call a function/method in a number of different ways:

- `func()`: Call `func` with no arguments
- `func(arg)`: Call `func` with one positional argument
- `func(arg1, arg2)`: Call `func` with two positional arguments
- `func(arg1, arg2, ..., argn)`: Call `func` with many positional arguments
- `func(kwarg=value)`: Call `func` with one keyword argument 
- `func(kwarg1=value1, kwarg2=value2)`: Call `func` with two keyword arguments
- `func(kwarg1=value1, kwarg2=value2, ..., kwargn=valuen)`: Call `func` with many keyword arguments
- `func(arg1, arg2, kwarg1=value1, kwarg2=value2)`: Call `func` with positonal arguments and keyword arguments
- `obj.method()`: Same for `func`.. and every other `func` example

When using **positional arguments**, you must provide them in the order that the function defined them (the function's **signature**).

When using **keyword arguments**, you can provide the arguments you want, in any order you want, as long as you specify each argument's name.

When using positional and keyword arguments, positional arguments must come first.

## range(start, stop, step)

| Parameter | Description |
| :---: | :---- |
| start | **Optional**. An integer number specifying at which position to start. Default is 0 |
| stop | **Required**. An integer number specifying at which position to stop (not included). |
| step | **Optional**. An integer number specifying the incrementation. Default is 1 |

<p style="text-align: center;">This table will look better after exported to an HTML file.</p>

In [131]:
range(6)

range(0, 6)

In [132]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [133]:
range(0, 6)

range(0, 6)

In [134]:
for i in range(0, 6):
    print(i)

0
1
2
3
4
5

In [135]:
range(6, 2)

range(6, 2)

In [136]:
for i in range(6, 2):
    print(i)

In [137]:
range(0, 6, 2)

range(0, 6, 2)

In [138]:
for i in range(0, 6, 2):
    print(i)

0
2
4

In [139]:
print('a')

a

In [140]:
print('a', 'b', 'c')

a b c

In [141]:
print('a', 'b', 'c', sep=',')

a,b,c

In [142]:
print('a', 'b', 'c', sep=',', end='$')

a,b,c$

In [143]:
print('a', 'b', 'c', sep=',', end='$')
print('d', 'e', 'f', end='$', sep=',')

a,b,c$d,e,f$

In [144]:
# Uncomment the following line and execute
#print(sep=',', 'g', 'h', 'j', end='$')

In [145]:
list1 = [3, 5, 8, 2, 1]

In [146]:
sorted(list1)

[1, 2, 3, 5, 8]

In [147]:
sorted(list1, reverse=True)

[8, 5, 3, 2, 1]

In [148]:
list1

[3, 5, 8, 2, 1]

In [149]:
list1.sort()

In [150]:
list1

[1, 2, 3, 5, 8]

In [151]:
list1.sort(reverse=True)

In [152]:
list1

[8, 5, 3, 2, 1]

## Formatting strings and using placeholders

In [153]:
a = 12
b = 3.1416
c = 'hello'
d = "world"

In [154]:
a, b, c, d

(12, 3.1416, 'hello', 'world')

In [155]:
print(a, b, c, d)

12 3.1416 hello world

In [156]:
print('*' * 30)
print(a, b, c, d)
print('%d %f %s %s' % (a, b, c, d))
print('%.2f %5d %s %10s' % (a, b, c, d))

******************************
12 3.1416 hello world
12 3.141600 hello world
12.00     3 hello      world

In [157]:
'%s %s' % ('zero', 'one')

'zero one'

In [158]:
'{} {}'.format('zero', 'one')

'zero one'

In [159]:
'{1} {0}'.format('zero', 'one')

'one zero'

## Python "for loops"

It is easy to **iterate** over a collection of items using a **for loop**. The strings, lists, tuples, sets, and dictionaries we defined are all **iterable** containers.

The for loop will go through the specified container, one item at a time, and provide a temporary variable for the current item. You can use this temporary variable like a normal variable.

In [160]:
sum = 0
for i in range(10):
    sum += i
    print('i = %d\tsum = %d' % (i, sum))

i = 0	sum = 0
i = 1	sum = 1
i = 2	sum = 3
i = 3	sum = 6
i = 4	sum = 10
i = 5	sum = 15
i = 6	sum = 21
i = 7	sum = 28
i = 8	sum = 36
i = 9	sum = 45

In [161]:
sum = 0
for i in range(3, 10, 2):
    sum += i
    print('i = %d\tsum = %d' % (i, sum))

i = 3	sum = 3
i = 5	sum = 8
i = 7	sum = 15
i = 9	sum = 24

In [162]:
list1 = [9, 2, 13, 7, 5, 8, 20]
print('1234567890' * 2)
for i in list1:
    print(i, '\t', i ** 2)

12345678901234567890
9 	 81
2 	 4
13 	 169
7 	 49
5 	 25
8 	 64
20 	 400

In [163]:
tuple1 = (9, 2, 13, 7, 5, 8, 20)
print('1234567890' * 2)
for i in tuple1:
    print('%2d\t%3d' % (i, i ** 2))

12345678901234567890
 9	 81
 2	  4
13	169
 7	 49
 5	 25
 8	 64
20	400

## Python "if statements" and "while loops"

Conditional expressions can be used with these two **conditional statements**.

The **if statement** allows you to test a condition and perform some actions if the condition evaluates to `True`. You can also provide `elif` and/or `else` clauses to an if statement to take alternative actions if the condition evaluates to `False`.

The **while loop** will keep looping until its conditional expression evaluates to `False`.

> Note: It is possible to "loop forever" when using a while loop with a conditional expression that never evaluates to `False`.
>
> Note: Since the **for loop** will iterate over a container of items until there are no more, there is no need to specify a "stop looping" condition.

In [164]:
a = 17
if a % 2 == 1:
    print(a, 'is odd')

17 is odd

In [165]:
b = 17
if b % 2 == 1: print(b, 'is odd')

17 is odd

In [166]:
a = 18
if a % 2 == 1:
    print(a, 'is odd')
else:
    print(a, 'is even')

18 is even

In [167]:
b = 18
print(b, 'is odd') if b % 2 == 1 else print(b, 'is even')

18 is even

In [168]:
a = 23
if a % 2 == 0:
    print(a, 'is divisible by 2')
elif a % 3 == 0:
    print(a, 'is divisible by 3')
else:
    print(a, 'is indivisible by 2 or 3')

23 is indivisible by 2 or 3

In [169]:
b = 25
print(b, 'is divisible by 2') if b % 2 == 0 else \
print(b, 'is divisible by 3') if b % 3 == 0 else \
print(b, 'is indivisible by 2 or 3')

25 is indivisible by 2 or 3

In [170]:
list1 = [9, 2, 13, 7, 5, 8, 20]
print('1234567890' * 2)
for i in list1:
    if i % 2 == 1:
        print(i, '\t', i ** 2)

12345678901234567890
9 	 81
13 	 169
7 	 49
5 	 25

In [171]:
tuple1 = (9, 2, 13, 7, 5, 8, 20)
print('1234567890' * 2)
for i in tuple1:
    if i % 2 == 1:
        print('%2d\t%3d' % (i, i ** 2))

12345678901234567890
 9	 81
13	169
 7	 49
 5	 25

In [172]:
sum = 0
i = 0
while i < 10:
    sum += i
    print('i = %d\tsum = %d' % (i, sum))
    i += 1

i = 0	sum = 0
i = 1	sum = 1
i = 2	sum = 3
i = 3	sum = 6
i = 4	sum = 10
i = 5	sum = 15
i = 6	sum = 21
i = 7	sum = 28
i = 8	sum = 36
i = 9	sum = 45

In [173]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [174]:
i = 1
while i <= 5:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [175]:
i = 0
while i <= 5:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [176]:
i = 1
while i <= 5:
    print(i)
    i += 1
else:
    print("i is no longer less than or equal to 5")

1
2
3
4
5
i is no longer less than or equal to 5

In [177]:
list1 = [9, 2, 13, 7, 5, 8, 20]
print('1234567890' * 2)
for i in list1:
    if i % 2 == 1:
        print('%2d\t%3d' % (i, i ** 2))

12345678901234567890
 9	 81
13	169
 7	 49
 5	 25

In [178]:
list1 = [9, 2, 13, 7, 5, 8, 20]
print('1234567890' * 2)
while len(list1):
    i = list1.pop()
    if i % 2 == 1:
        print('%2d\t%3d' % (i, i ** 2))

12345678901234567890
 5	 25
 7	 49
13	169
 9	 81

In [179]:
tuple1 = (9, 2, 13, 7, 5, 8, 20)
print('1234567890' * 2)
s = SIZE = len(tuple1)
while s > 0:
    i = tuple1[SIZE - s]
    if i % 2 == 1:
        print('%2d\t%3d' % (i, i ** 2))
    s -= 1

12345678901234567890
 9	 81
13	169
 7	 49
 5	 25

## List, set, and dict comprehensions

In [180]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [181]:
b = [i + 1 for i in range(10)]
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [182]:
c = [i for i in range(10) if i % 2 == 0]
c

[0, 2, 4, 6, 8]

In [183]:
d = [i ** 2 for i in range(10) if i % 2 == 1]
d

[1, 9, 25, 49, 81]

In [184]:
e = {i for i in range(10) if i % 2 == 0}
e

{0, 2, 4, 6, 8}

In [185]:
f = {i + 10 for i in range(10) if i % 2 == 1}
f

{11, 13, 15, 17, 19}

In [186]:
g = {i ** 2 for i in range(10) if i % 2 == 1}
g

{1, 9, 25, 49, 81}

In [187]:
h = {i:i ** 2 for i in range(10) if i % 2 == 1}
h

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [188]:
m = {i:chr(i + 64) for i in range(10) if i % 2 == 1}
m

{1: 'A', 3: 'C', 5: 'E', 7: 'G', 9: 'I'}

In [189]:
n = {chr(i + 65):i * 3 + 1 for i in range(10) if i % 2 == 0}
n

{'A': 1, 'C': 7, 'E': 13, 'G': 19, 'I': 25}

## Creating objects from arguments or other objects

The basic types and containers we have used so far all provide **type constructors**:

- `int()`
- `float()`
- `bool()`
- `str()`
- `list()`
- `tuple()`
- `set()`
- `dict()`

Up to this point, we have been defining objects of these built-in types using some syntactic shortcuts, since they are so common.

Sometimes, you will have an object of one type that you need to convert to another type. Use the **type constructor** for the type of object you want to have, and pass in the object you currently have.

In [190]:
a = 12
b = 2.718281
c = 'hello'
d = ['L1', 'L2', 'L3']
e = ('T1', 'T2', 'T3', 'T4')
f = {'S1', 'S2', 'S3'}
g = {1:'D1', 2:'D2', 3:'D4'}

In [191]:
float(a)

12.0

In [192]:
int(b)

2

In [193]:
bool(4)

True

In [194]:
bool(-3.4142)

True

In [195]:
bool('True')

True

In [196]:
bool(True)

True

In [197]:
bool(False)

False

In [198]:
bool('False') # Why?

True

In [199]:
bool('')

False

In [200]:
bool(0)

False

In [201]:
bool(-0.0)

False

In [202]:
bool({})

False

In [203]:
str(b)

'2.718281'

In [204]:
list(c)

['h', 'e', 'l', 'l', 'o']

In [205]:
list(e)

['T1', 'T2', 'T3', 'T4']

In [206]:
tuple(c)

('h', 'e', 'l', 'l', 'o')

In [207]:
tuple(f)

('S3', 'S2', 'S1')

In [208]:
set(c)

{'e', 'h', 'l', 'o'}

In [209]:
set(d)

{'L1', 'L2', 'L3'}

In [210]:
dict(x = 5, y = 7)

{'x': 5, 'y': 7}

In [211]:
dict({'x':5, 'y':7}, z = 9)

{'x': 5, 'y': 7, 'z': 9}

In [212]:
dict([('x', 5), ('y', 7)], z = 9)

{'x': 5, 'y': 7, 'z': 9}

## Importing modules

In [213]:
import random
print(random.random(), end='\n\n')
for i in range(5):
    print(random.randint(2, 5)) # Both included

0.7819018786585825

5
2
2
3
5

In [214]:
import math as m
angles = [0, 30, 45, 60, 90, 120, 135, 150, 180]
print('pi =', m.pi, end='\n\n')
print('{0:^3}\tsin({0})'.format('\u03F4'))
print('---\t------')
for angle in angles:
    print('%3d\t%.4f' % (angle, m.sin(m.radians(angle))))

pi = 3.141592653589793

 ϴ 	sin(ϴ)
---	------
  0	0.0000
 30	0.5000
 45	0.7071
 60	0.8660
 90	1.0000
120	0.8660
135	0.7071
150	0.5000
180	0.0000

In [215]:
from math import pi, cos, radians
angles = [0, 30, 45, 60, 90, 120, 135, 150, 180]
print('pi =', pi, end='\n\n')
print('{:^3}\t{:>7}'.format('\u03F4','cos(\u03F4)'))
print('---\t-------')
for angle in angles:
    print('%3d\t%7.4f' % (angle, cos(radians(angle))))

pi = 3.141592653589793

 ϴ 	 cos(ϴ)
---	-------
  0	 1.0000
 30	 0.8660
 45	 0.7071
 60	 0.5000
 90	 0.0000
120	-0.5000
135	-0.7071
150	-0.8660
180	-1.0000

## Exceptions

In [216]:
# Uncomment the following line and execute
#print(newvar)

In [217]:
try:
    print(newvar)
except NameError:
    print("Variable name is NOT defined \U00002753")

Variable name is NOT defined ❓

In [218]:
try:
    print(newvar)
except NameError:
    print("Variable name is NOT defined \U00002753")
except:
    print("Something went wrong \U0001f914")

Variable name is NOT defined ❓

In [219]:
newvar = 'Hello World!'
try:
    print(newvar)
except:
    print("Something went wrong \U0001f914")
else:
    print("Everything alright \U0000270c")

Hello World!
Everything alright ✌

In [220]:
try:
    print(newvar)
except:
    print("Something went wrong \U0001f914")
finally:
    print("The try-except block is finished \U0001f604")

Hello World!
The try-except block is finished 😄

In [221]:
try:
    print(newvar)
except:
    print("Something went wrong \U0001f914")
else:
    print("Everything alright \U0000270c")
finally:
    print("The try-except block is finished \U0001f604")

Hello World!
Everything alright ✌
The try-except block is finished 😄

In [222]:
try:
    print(newvar)
#except AttributeError:
#except SyntaxError:
#except TypeError:
except NameError:
    print("Variable name is NOT defined \U00002753")
except:
    print("Something went wrong \U0001f914")
else:
    print("Everything alright \U0000270c")
finally:
    print("The try-except block is finished \U0001f604")

Hello World!
Everything alright ✌
The try-except block is finished 😄

## Classes: Creating your own objects

In [223]:
# Define a new class called `Thing` that is derived from the base Python object
class Thing(object):
    my_property = 'I am a "Thing"'


# Define a new class called `DictThing` that is derived from the `dict` type
class DictThing(dict):
    my_property = 'I am a "DictThing"'

In [224]:
print(Thing)
print(type(Thing))
print(DictThing)
print(type(DictThing))
print(issubclass(DictThing, dict))
print(issubclass(DictThing, object))

<class '__main__.Thing'>
<class 'type'>
<class '__main__.DictThing'>
<class 'type'>
True
True

In [225]:
# Create "instances" of our new classes
t = Thing()
d = DictThing()
print(t)
print(type(t))
print(d)
print(type(d))

<__main__.Thing object at 0x0000024947F58DD8>
<class '__main__.Thing'>
{}
<class '__main__.DictThing'>

In [226]:
# Interact with a DictThing instance just as you would a normal dictionary
d['name'] = 'Sally'
print(d)

{'name': 'Sally'}

In [227]:
d.update({
        'age': 13,
        'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'],
        'fav_color': 'green',
    })
print(d)

{'name': 'Sally', 'age': 13, 'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'], 'fav_color': 'green'}

In [228]:
print(d.my_property)

I am a "DictThing"

## Defining functions and methods

In [229]:
def printIt():
    print('Hello World!')

printIt()

Hello World!

In [230]:
def printIt(s):
    print(s)
    
printIt('Something printed')

Something printed

In [231]:
def printIt(s):
    return('See: ' + s)

print(printIt('Something printed'))

See: Something printed

In [232]:
def printIt(s):
    return('See: ' + s)

# Uncomment the following line and execute
#print(printIt())

In [233]:
def printIt(s = 'Default value'):
    return('See: ' + s)

print(printIt())
print(printIt('Assigned value'))
print(printIt(s = 'Another assigned value'))

See: Default value
See: Assigned value
See: Another assigned value

In [234]:
def volume(length, width = 1, height = 1):
    print('Length = %d, Width = %d, Height = %d, Volume = %d' % (length, width, height, length * width * height))

volume(4)    
volume(length = 2)
volume(height = 3, length = 5, width = 4)

Length = 4, Width = 1, Height = 1, Volume = 4
Length = 2, Width = 1, Height = 1, Volume = 2
Length = 5, Width = 4, Height = 3, Volume = 60

## Creating an initializer method for your classes

In [235]:
class Programme:
    
    def __init__(self, title, code, students):
        self.title = title
        self.code = code
        self.__students = students
        
    def show(self):
        print('Programme title: ' + self.title)
        print('Programme code : ' + self.code)
        print('Student number : ' + str(self.__students))
        self.__internal()
        
    def getTitle(self):
        return self.title
    
    def getCode(self):
        return self.code
    
    def __internal(self):
        print('This function is hidden from public!')
        
prog1 = Programme('HD in Computer and Electronic Engineering', 'EG114403', 120)
prog1.show()
print()
print(prog1.getTitle())
print(prog1.getCode())

# Uncomment the following line and execute
#prog1.__internal()

print()
print('Title: ' + prog1.title)
print('Code : ' + prog1.code)

# Uncomment the following line and execute
#print('Number: ' + prog1.__students)

Programme title: HD in Computer and Electronic Engineering
Programme code : EG114403
Student number : 120
This function is hidden from public!

HD in Computer and Electronic Engineering
EG114403

Title: HD in Computer and Electronic Engineering
Code : EG114403

## Other "magic methods"

In [236]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [237]:
num = 8
num + 5

13

In [238]:
num.__add__(7)

15

In [239]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [240]:
string = 'hello '

In [241]:
string + 'world'

'hello world'

In [242]:
string.__add__('kitty')

'hello kitty'

## Context managers and the "with statement"

In [243]:
with open('file.txt', 'w') as f:
    f.write('Hello World!')

In [244]:
class File(object):
    
    # Set the filename and mode
    def __init__(self, filename, mode):
        self.filename = filename
        self.mode = mode
    
    # Allocate resource - Open the file
    def __enter__(self):
        print('Open file: ' + self.filename)
        self.open_file = open(self.filename, self.mode)
        return self.open_file

    # Release resource - Close the file
    def __exit__(self, type, value, traceback):
        print('Close file: ' + self.filename)
        self.open_file.close()

with File('another_file.txt', 'w') as f:
    print('Write to file ...')
    f.write('Hello World! Hello World!')

Open file: another_file.txt
Write to file ...
Close file: another_file.txt

In [245]:
class ContextManager():
    def __init__(self):
        print('1.  init method called')
    
    def __enter__(self):
        print('2.  enter method called')
        return self
    
    def __exit__(self, exc_type, exc_value, exc_traceback):
        print('4.  exit method called')

with ContextManager() as manager:
    print('3a. statement 1 in with block')
    print('3b. statement 2 in with block')

1.  init method called
2.  enter method called
3a. statement 1 in with block
3b. statement 2 in with block
4.  exit method called

## Adding Colour to Text

In [246]:
print("\033[0;37;40m Normal text")
print("\033[2;37;40m Underlined text\033[0;37;40m")
print("\033[1;37;40m Bright Colour\033[0;37;40m")
print("\033[3;37;40m Negative Colour\033[0;37;40m")
print("\033[5;37;40m Negative Colour\033[0;37;40m\n")
 
print("\033[1;37;40m\033[2;37:40m TextColour BlackBackground       TextColour GreyBackground       WhiteText ColouredBackground\033[0;37;40m")
print("\033[1;30;40m Dark Gray      \033[0m 1;30;40m        \033[0;30;47m Black      \033[0m 0;30;47m           \033[0;37;41m Black      \033[0m 0;37;41m")
print("\033[1;31;40m Bright Red     \033[0m 1;31;40m        \033[0;31;47m Red        \033[0m 0;31;47m           \033[0;37;42m Black      \033[0m 0;37;42m")
print("\033[1;32;40m Bright Green   \033[0m 1;32;40m        \033[0;32;47m Green      \033[0m 0;32;47m           \033[0;37;43m Black      \033[0m 0;37;43m")
print("\033[1;33;40m Yellow         \033[0m 1;33;40m        \033[0;33;47m Brown      \033[0m 0;33;47m           \033[0;37;44m Black      \033[0m 0;37;44m")
print("\033[1;34;40m Bright Blue    \033[0m 1;34;40m        \033[0;34;47m Blue       \033[0m 0;34;47m           \033[0;37;45m Black      \033[0m 0;37;45m")
print("\033[1;35;40m Bright Magenta \033[0m 1;35;40m        \033[0;35;47m Magenta    \033[0m 0;35;47m           \033[0;37;46m Black      \033[0m 0;37;46m")
print("\033[1;36;40m Bright Cyan    \033[0m 1;36;40m        \033[0;36;47m Cyan       \033[0m 0;36;47m           \033[0;37;47m Black      \033[0m 0;37;47m")
print("\033[1;37;40m White          \033[0m 1;37;40m        \033[0;37;40m Light Grey \033[0m 0;37;40m           \033[0;37;48m Black      \033[0m 0;37;48m")

 Normal text
 Underlined text
 Bright Colour
 Negative Colour
 Negative Colour

[2;37:40m TextColour BlackBackground       TextColour GreyBackground       WhiteText ColouredBackground
 Dark Gray       1;30;40m         Black       0;30;47m            Black       0;37;41m
 Bright Red      1;31;40m         Red         0;31;47m            Black       0;37;42m
 Bright Green    1;32;40m         Green       0;32;47m            Black       0;37;43m
 Yellow          1;33;40m         Brown       0;33;47m            Black       0;37;44m
 Bright Blue     1;34;40m         Blue        0;34;47m            Black       0;37;45m
 Bright Magenta  1;35;40m         Magenta     0;35;47m            Black       0;37;46m
 Bright Cyan     1;36;40m         Cyan        0;36;47m            Black       0;37;47m
 White           1;37;40m         Light Grey  0;37;40m            Black       0;37;48m